@import "../../../styles/commonStay.scss";

@media (min-width: 768px) {
  .contentContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contentContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contentContainer {
    width: 1170px;
  }
}

.Booking {
  position: relative;
  margin-top: 101px;
  width: 100vw;
  background-color: rgb(244, 244, 244);
  font-family: "Gothic A1", sans-serif;

  /* header */
  header {
    @include flex;
    position: fixed;
    width: inherit;
    height: 50px;
    background-color: $color-black;
    z-index: 505;

    .headerBox {
      @include flex(space-between);
      width: 1140px;
      height: 50px;
      padding: 0 15px;
      margin: 0 auto;
      z-index: 506;

      /* headerLeft */
      .headerLeft {
        height: inherit;
        font-size: 12px;
        font-weight: bolder;
        color: $color-white;

        .headerLeftContainer {
          @include flex(flex-start, center, center);
          height: inherit;
          width: 550px;
          

          .switchTitle {
            margin: 1px 8px 0 0;
            font-size: 12px;
          }

          .switchOff {
            margin: 2px 0 0 8px;
            font-size: 10px;
          }

          .switchBtn {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 15px;
          }

          /* switch checkbox */
          .switchBtn input {
            width: 0;
            height: 0;
            opacity: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          .slider:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 11px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }
          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }
          input:checked + .slider:before {
            -webkit-transform: translateX(14px);
            -ms-transform: translateX(14px);
            transform: translateX(14px);
          }

          .slider.round {
            border-radius: 34px;
          }
          .slider.round:before {
            border-radius: 50%;
          }
        }
      }

      /* headerRight */
      .headerRight {
        height: inherit;
        color: rgb(128, 128, 128);
        font-weight: 500;
        font-size: 12px;
        border-left: 1px solid rgb(128, 128, 128);
        border-right: 1px solid rgb(128, 128, 128);

        .headerRightContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 546px;
          height: inherit;
          padding: 12px 12px 12px 17px;
          font-size: 13px;
          font-weight: 700;

          .searchSpan {
            padding-left: 20px;
            width: 80px;
            font-weight: bolder;
            color: $color-white;
          }

          .hBar {
            width: 0;
            height: 10px;
            border-left: 1px solid rgb(128, 128, 128);
          }

          .wBar {
            width: 5px;
            border: 1px solid rgb(128, 128, 128);
          }

          .checkInOutBox {
            width: 230px;
            height: inherit;
            margin: 0 35px 0 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .checkInBox {
              span {
                margin-left: 8px;
              }
            }

            .checkOutBox {
              span {
                margin-left: 8px;
              }
            }
          }

          .planeIconBox {
            padding-right: 20px;
            font-size: 20px;
            color: $color-white;
          }
        }
      }
    }
  }

  .bookingBoard {
    width: 100vw;
    height: 500px;

    .bannerBox {
      width: 100vw;
      height: 500px;
      overflow: hidden;
      position: relative;
      line-height: normal;
      @include flex(center, center, column);

      .bannerTextContainer {
        width: 100vw;
        height: 500px;
        padding: 30px;
        @include flex(center, center, column);
        margin: 0 auto;
        cursor: pointer;
        position: absolute;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color: rgba(0, 0, 0, 0.65);
          z-index: 400;
          position: absolute;
        }

        &:hover > .bannerTopText {
          cursor: pointer;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          margin: 20px 0 27px 0;
          letter-spacing: 2px;
          display: flex;
        }

        &:hover > .bannerDesc {
          width: 150px;
          height: 44px;
          line-height: 138%;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
          color: #ffffff;
          word-break: keep-all;
          display: block;
        }

        &:hover > .bannerBtn {
          display: block;
          height: 35px;
          padding: 8px 30px;
          margin-top: 34px;
          background: none;
          color: #ffffff;
          font-size: 13px;
          letter-spacing: -0.1px;
          border: 1px solid #fff;
          cursor: pointer;
        }
      }

      .noneStyle {
        display: none;
      }

      .bannerTitle {
        font-size: 48px;
        text-align: center;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 20px;
        z-index: 500;
      }

      .bannerImage {
        min-width: 100%;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
      }
    }
  }
}

.navWrap {
  width: inherit;

  nav {
    height: 102px;
    background-color: $color-white;
  }
}

.footerWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  footer {
    height: 320px;
    background-color: $color-black;
  }
}
