@import "../../../styles/commonStay.scss";
@import "../../../styles/reset.scss";
@include mQ;


.Pick {
  background-color: $color-background;
  display: flex;
  justify-content: center;

  .container {
    margin: 102px auto;
    padding: 0 15px 0 15px;

    section {
      display: flex;
      justify-content: space-between;
      border-top: 7px solid black;
      margin: 60px 0 10px 0;
      padding: 30px 0 40px 0;
      font-family: "Open Sans", sans-serif;

      .title {
        font-size: 32px;
        font-weight: 700;
        color: #333333;
      }

      .titleDesc {
        font-size: 14px;
        color: #797979;
        margin-top: 10px;
      }

      .searchFilterCon {
        display: flex;
        text-align: left;
      }
    }

    .articleCon {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 10px -15px 0 -15px;
    }

    .pagination {
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        margin: 20px 0 60px;
      }
    }
  }

  // @media (min-width: 768px) {
  //   .PickArticle {
  //     width: 100%
  //   }
  // }

  // @media (min-width: 992px) {
  //   .PickArticle {
  //     width: 33.33333333%;
  //   }
  // }
}
