// @import '../../styles/reset.scss';
// @import '../../styles/variables.scss';



  .memberLine {
    display: flex;
    width: 100%;

    .memberTitle {
      width: 140px;
    }
  }
  .inputDescription {
    margin-left: 10px;
    font-size: 11px;
  }
}
.addressLine {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
  .address {
    width: 140px;
  }
  .addressInput {
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
    &:focus {
      outline: none;
    }
  }

    &:disabled {
      color: white;
      background-color: black;
      transition: all 350ms ease-in-out;
      cursor: default;
    }
  }
// }

