.top {
    text-align: center;
    padding: 20px;
}
.MyPage {  
    margin-top: 100px;
    color:darkolivegreen;
}

.MyInfo {
    
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
.contact {
    width: fit-content;
    margin: auto;
}
.contact1 {
    width: fit-content;
    margin: auto;
    display: block;
}


ul{
    display: flex;
    list-style: none;
    margin: 30px;
    flex-wrap: wrap;
    text-align: left;
    
li + li{
    margin-left: 100px;
}
}

// .container {
//     text-align: left;
// }

.wish  {
    border: 0;
    outline: 0;
    background-color: transparent;
}
    
.buttonContainer{
    display: flex;
    justify-content: space-between;
}
.ListContainer {
    display: flex;
}

// #top {
//     width: 800px;
//     margin: auto;
//     padding: 20px;
//     justify-content: center;
// }

