.top {
    text-align: center;
    padding: 20px;
}
.MyPage {  
    margin-top: 100px;
    color:darkolivegreen;
}

.MyInfo {
    
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}




