.SideNav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
}

// .content {
//     display: flex;
//     text-align: center;
// }

