.SideNav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    margin: 100px;

}
.myReservation{
    margin-left: -183px;
}
// .content {
//     display: flex;
//     text-align: center;
// }

