#top {
    width: 800px;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

#contact {
    width: fit-content;
    margin: auto;
}

#contact1 {
    width: fit-content;
    margin: auto;
    display: block;
}

ul{
    display: flex;
    list-style: none;
    margin: 100px;
    flex-wrap: wrap;
    
li + li{
    margin-left: 100px;
}
}