@import "../../../../../styles/commonStay.scss";

.MainBottomCard {
  .bottomCard {
    width: 555px;
    height: 164px;
    background-color: white;
    @include flex;

    .cardBorder {
      width: 545px;
      height: 154px;
      border: 1px solid #e5e5e5;
      padding: 30px 20px 20px;
      @include flex(space-between, flex-start);

      .cardLeft {
        width: 312px;
        height: 102px;
        margin: 0 15px;

        .cardTitle {
          color: $color-title-black;
          font-size: 20px;
          font-weight: 500;
          line-height: 120%;
        }

        .cardDesc {
          margin: 10px 0;
          color: #666666;
          font-size: 12px;
          font-weight: 500;
          line-height: 140%;
        }
      }

      .cardBtn {
        width: 141px;
        height: 45px;
        color: white;
        background-color: $color-black;
        padding: 5px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
