.reviewContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 30px;
  width: 480px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.titleContainer {
  width: 400px;
  border-bottom: solid black 0.5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.rating {
  padding-top: 8px;
}
