.top {
    width: 1500px;
    margin: auto;
    padding: 20px;
    justify-content: center;
}


// #contact {
//     width: fit-content;
//     margin: auto;
// }

// #contact1 {
//     width: fit-content;
//     margin: auto;
//     display: block;
// }