.ListContainer {
    //margin-top: 80px;
    width: 60rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 13px;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 60rem;

    th,
    td {
      border-bottom: 1px solid #444444;
      padding: 0.8rem 0;
      text-align: center;
      vertical-align: middle;
    }

}


// .top {
//     width: 800px;
//     margin: auto;
//     padding: 20px;
//     justify-content: center;
// }


// .contact {
//     width: fit-content;
//     margin: auto;
// }

// .contact1 {
//     width: fit-content;
//     margin: auto;
//     display: block;
// }