@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ListContainer {
    //margin-top: 80px;
    width: 80rem;
    margin-top: 3rem;
    // margin-bottom: 3rem;
    margin-left: 10rem;
    font-size: 15px;
    animation-name: fadeIn;
	  animation-duration: 1s;

}

table {
    text-align: center;
    border-collapse: collapse;
    width: 70rem;
    th,
    td {
      border-bottom: 0.1px solid #444444;
      padding: 0.8rem 0;
      text-align: center;
      vertical-align: middle;
    
    }
    th {
      font-weight: 1000;
    }
}

button {
  border: none;
  background-color: rgba(182, 182, 182, 0.548);
  border-radius: 8px;
  padding: 3px;
  color: rgb(119, 119, 119);
}

// .top {
//     width: 800px;
//     margin: auto;
//     padding: 20px;
//     justify-content: center;
// }


// .contact {
//     width: fit-content;
//     margin: auto;
// }

// .contact1 {
//     width: fit-content;
//     margin: auto;
//     display: block;
// }