@import './variables.scss';

.login {
  @include flexCenter;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 100px;
  border: 1px solid black;

  .loginTitle {
    font-size: 35px;
    font-weight: 600;
  }

  .inputArea {
    @include flexColumn;
    width: 320px;
    margin-top: 50px;

    .idLine {
      display: flex;
      margin: 10px;

      .idInputLine {
        width: 120px;
        padding: 10px 5px 20px 5px;
        border-bottom: 1px solid black;
      }

      .idInput {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;

        &:focus {
          outline: none;
        }
      }
    }

    .pwLine {
      display: flex;
      margin: 10px;

      .pwInputLine {
        width: 120px;
        padding: 10px 5px 20px 5px;
        border-bottom: 1px solid black;
      }

      .pwInput {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .signBtn {
    width: 300px;
    height: 60px;
    margin: 20px 0;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;

    &:disabled {
      color: white;
      background-color: black;
      cursor: default;
    }
  }

  .loginFooter {
    @include flexSpaceBetween;
    width: 300px;
    font-size: 12px;

    .findUser {
      display: flex;

      div {
        margin-right: 4px;
      }

      .forgotId {
        cursor: pointer;

        &:hover {
          color: gray;
        }
      }

      .forgotPw {
        cursor: pointer;

        &:hover {
          color: gray;
        }
      }
    }

    .createAccount {
      cursor: pointer;

      &:hover {
        color: gray;
      }
    }
  }
}