.footer{
    height: 150px;
    margin-top : auto;
    background-color : #dde0ea;
}

.contents{
    width: 96%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
}

.title{
    font-weight: 600;
    font-size: 20px;
}

div {
    // border: black solid 1px;
}

p {
    font-size: 12px;
}