
.surveyWrap {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 400px;
    height: 150px;
    top: 30%;
    left: 50%;
    
    //margin-top : -600px;
    text-align: center;
}

