.mainpic {
  width: 100%;
  max-height: 800px;
}

.surveyWrap {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  top: 50vh;
  left: 50vw;
  text-align: center;
}

.svBtn {
  margin: 10px;
}

.sv3Btn {
  margin-top: 15px;
}
