@import "../../../styles/commonStay.scss";


@media (min-width: 768px) {
  .contentContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contentContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contentContainer {
    width: 1170px;
  }
}

.Main {
  margin-top: 102px;
  width: 100vw;

  .mainContent {
    background-color: $color-background;
  }

  .contentContainer {
    max-width: 1140px;
    border-top: 7px solid #222;
  }

  .slickContainer {
    width: 100%;
    position: relative;
  }
  .slick-slider {
    line-height: 0;
  }
  .slick-dots {
    margin: 25px 0 0;
    padding: 0;
    position: absolute;
    bottom: 18.5px;
    list-style-type: none;
    z-index: 10;

    li {
      width: auto;
      height: auto;
      display: inline-block;
      padding: 0 5px;
      margin-left: -1.9px;
      margin-right: -1.9px;

      button {
        text-indent: -9999px;
        color: #fff;
        width: 11.7px;
        height: 11.7px;
        border-radius: 18%;
        background-color: white;
        opacity: 0.5;

        &:before {
          content: none;
        }
      }
      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }

  .mainBanner {
    height: 400px;
    overflow: hidden;
    position: relative;
    line-height: normal;
    @include flex;

    .bannerImage {
      min-width: 100%;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }

    .bannerTextContainer {
      width: 550px;
      height: 320px;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 999;
      padding: 30px;
      @include flex(center, center, column);
      position: relative;
      margin: 0 auto;
      margin-top: 40px;

      .bannerTopText {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 27px;
        letter-spacing: 2px;
      }

      .bannerTitle {
        font-size: 48px;
        text-align: center;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 20px;
      }

      .bannerDesc {
        width: 150px;
        height: 44px;
        line-height: 138%;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        word-break: keep-all;
      }

      .bannerBtn {
        height: 35px;
        background: none;
        border: 1px solid #fff;
        padding: 8px 30px;
        margin-top: 34px;
        color: #ffffff;
        font-size: 13px;
        letter-spacing: -0.1px;
        cursor: pointer;
      }
    }
  }

  .magazine {
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }

  .pickContainer {
    margin-top: 35px;
    margin-bottom: 78px;
    height: 1090px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;

    .pickArticleContainer {
      height: 928px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow-x: visible !important;
    }
  }

  .mainBottom {
    height: 306px;
    @include flex;

    .cardBorderTop {
      width: 1140px;
      height: 306px;
      border-top: 1px solid #d0d0d0;
      @include flex(space-between, center);
    }
  }
}
