@import "../../../styles/commonStay.scss";


.BookingDetail {
  margin: 101px 0 205px;

  .banner {
    min-width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;

    .bannerImg {
      min-width: 100%;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }

    .bannerTitle {
      min-width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
      padding: 0 20px;
      background: rgba(255, 255, 255, 0.6);

      .titleText {
        max-width: 1140px;
        margin: 0 auto;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        font-size: 33px;
        line-height: 70px;
        letter-spacing: -0.5px;
        opacity: 0.8;
      }
    }
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;

    .rooms {
      .roomsHeader {
        height: 172px;
        padding: 0 0 90px;

        .roomsTitle {
          font-family: "Helvetica Neue", "Roboto", sans-serif;
          font-size: 60px;
          font-weight: 600;
          text-align: center;
          letter-spacing: -1.5px;
          word-spacing: -1px;
          color: $color-title-black;
          margin: 60px 20px 12px;

          .titleSpan {
            font-weight: 300;
            color: #595959;
          }
        }
        .titleBottom {
          font-size: 14px;
          text-align: center;
        }
      }

      .roomsContainer {
        .sliderWrapper {
          position: relative;

          > .slick-prev {
            position: absolute;
            top: 26px;
            left: 430px;
            z-index: 5;
            opacity: 0.9;

            & ::before {
              opacity: 0.1;
            }

            & :hover {
              opacity: 1 !important;
            }
          }

          > .slick-next {
            position: absolute;
            top: 25px;
            right: 430px;
            z-index: 5;
            opacity: 0.8;

            & ::before {
              opacity: 0.1;
            }

            & :hover {
              opacity: 1 !important;
            }
          }

          > .slick-dots {
            position: absolute;
            bottom: 1235px;
            right: 1%;
            margin: auto;
            list-style-type: none;
            z-index: 10;
            max-width: fit-content;

            li {
              margin: 0 -3.6px;
            }

            button {
              width: 8px;
              height: 8px;
              padding: 0;
              border: none;
              border-radius: 100%;
              background-color: white;
              opacity: 0.3;
              text-indent: -9999px;
            }

            li.slick-active button {
              background-color: white;
              opacity: 1;
            }
          }
        }
        .roomsTop {
          max-width: 1140px;
          height: 50px;
          margin-bottom: 20px;
          background: #222;
          display: flex;
          justify-content: space-between;

          .roomsTopLeft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 285px;
            padding: 0 15px;
            color: #999999;
            font-size: 14px;
            line-height: 50px;

            .fa-circle {
              font-size: 8px;
              color: white;
              margin-right: 5px;
            }
          }
        }

        .roomsTopTitle {
          margin: 0 auto;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 17px;
          font-weight: 700;
          line-height: 50px;
          color: white;
        }

        .roomsTopRight {
          width: 285px;
          padding: 0 15px;
        }
      }
    }
  }
  .mapContainer {
    margin: 0 auto;
    text-align: center;

    .mapTitle {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.3px;
      color: #333333;
      margin-bottom: 50px;
    }
  }
}
